
.documentExplorer {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    top: 4rem;
}

.documentTreeContainer {
    border-right: 1px solid #ccc;
}

.documentContainer {
    background-color: transparent;
    margin-left: 4rem;
    max-width: 75ch;

    h1 {
        margin-top: 0;
    }

    img {
        width: 100%;
        max-width: 75ch;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: .25rem;
    }
}