@use "sass:color";
@import "../../styles/global.scss";

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
}

.tocLabel {
    font-weight: 600;
    font-style: italic;
    white-space: nowrap;
}

.tocContainer {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .35rem;
}

.tocItem {
    background-color: color.adjust($selective-yellow, $lightness: 35%);
    padding: 0.15rem .45rem;
    border-radius: .25rem;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: color.adjust($selective-yellow, $lightness: 20%);
    }

    a {
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
            color: $text-color-default;
        }
    }
}