@import "../../styles/global.scss";

@mixin asideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.infoContainer {
    @include asideContainer;
    background-color: rgba($sky-blue, 0.1);
    border: solid 1px rgba($sky-blue, 0.2);

    svg {
        fill: $blue-green;
    }
}

.warningContainer {
    @include asideContainer;
    background-color: rgba($error-red, 0.1);
    border: solid 1px rgba($error-red, 0.2);

    svg {
        fill: $error-red;
    }
}

.textContainer {
    flex: 1;
}

.iconContainer {
    svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        display: block; // To remove the extra space below the svg
    }
}