@import './global.scss';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: $text-color-default;
    line-height: 1.5;
    margin: 0;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    scroll-margin-top: 5rem;

    &:first-child {
        margin-top: 0;
    }
}

a {
    color: $text-color-default;
    transition: color 0.2s ease-in-out;

    &:hover {
        text-decoration: underline;
        color: $ut-orange;
    }
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}