@import '../../styles/global.scss';

.searchBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: $blue-green;
}

.searchWindow {
    display: block;
}

.searchInputContainer {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: #fff;
    color: $text-color-default;
    position: relative; // needed for z-index
    z-index: 101; // for positioning on top of search results container

    &:focus-within {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    }
}

.searchInput {
    font-size: 1.15rem;
    background-color: transparent;
    border: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

.clearButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
}

.searchIcon {
    font-size: 1.15rem;
    color: $text-color-default;
}

.closeIcon {
    font-size: 1.15rem;
}

.searchResultsContainer {
    position: absolute;
    top: 3rem;
    left: calc(50vw - 300px);
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    background-color: rgba($sky-blue, .95);
    padding: 3rem 1rem 1rem 1rem;
    z-index: 100;

    @media screen and (max-width: 600px) {
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}

.searchResultItem {
    background-color: rgba(255, 255, 255, .3);
    padding: 1rem;
    border-radius: .5rem;
}

.searchResultTitle {
    font-size: 1.15rem;
    font-weight: 600;
}

.searchResultExcerpt {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.noResults {
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}