@import "../../styles/global.scss";

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    
    img {
        max-width: 100% !important;
        box-shadow: none !important;
    }
}

.button {
    border: none;
    background-color: $blue-green;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .25rem;
}